<app-navbar title="Najlepsze cytaty"></app-navbar>

<div class="container q-container">
  <app-button (addButton)="form.showAdd()" customClasses="btn-floating teal add-button"><i
      class="material-icons">add</i></app-button>

  <app-form #form (newQuotation)="onNewQuotation($event)"></app-form>
  <!-- cut -->

  <div class="row">
    <div class="col s8">
      <app-quote-list [quotes]="quotes" (vote)="addVote($event.quotation, $event.value)"></app-quote-list>
    </div>

    <!-- Sekcja rankigów -->
    <div class="col s4">
      <app-ranking [bestQuotes]="bestQuotes()" title="Najlepsze cytaty"></app-ranking>
      <app-ranking [bestQuotes]="worstQuotes()" title="Najgorsze cycaty"></app-ranking>



    </div>

    <!-- Sekcja rankigów -->
  </div>
</div>